@media (min-width:1400px) and (max-width:1650px){
    .my-name {
        padding-left: 171px;
    }
}
@media (min-width:1250px) and (max-width:1400px){
    .my-name {
        padding-left: 65px;
    }
}
@media (max-width:440px) {
    *{
        box-sizing: border-box;
        
        }
    .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
        padding-right: 0px;
        padding-left: 0px; 
        margin-left: 0px;
     }
    .navbar-nav {
        padding: 0px;
        margin: 0px;
    }
    .collapse .navbar-nav .nav-item a {
        padding: 10px 0px;
    }
    .container{
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
    .pt-5, .py-5 {
        padding-top: 1rem!important;
    }
    .my-name {
        padding: 10px 0px;
        margin: 0px;
        position: relative;
        right: 16px;
    }
    .fixed-top {
        padding:10px 0px;
    }
    .background-text {
        position: absolute;
        top: 25%;
    }
    .row .careerobjective {
        font-size: 16px;
        padding: 0px;
        margin: 0px;
    }
    .row .prof-exposure {
        margin: 0px;
        padding: 20px 0px;
        font-size: 14px;
    }
    .d-flex p {
        margin-top: 15px;
        padding-left: 0px;
    }
    .d-flex p:last-child {
        padding:0px;
        margin: 0px 0px 30px 0px;
    }
    .icon-bar {
        width: 100%;
    }
    .img-fluid {
        margin-top: 0px;
        margin-bottom: 10px;
    }
    .assets{
        position: relative;
        right: 10px;
    }
    .asset1{
        position: relative;
        right: 10px;
    }
    .pro-para {
        font-size: 16px;
    }
    .award {
        padding:15px 0px;
        margin: 0px;
    }
    .single-progress {
        padding: 0px 10px;
    }
    .detail p {
        font-size: 12px;
        padding: 11px 0px 0px 0px;
    }
    .dot h5 {
        font-size: 13px;
        padding: 20px 0px 0px 25px;
    }
    .details p {
        font-size: 12px;
        padding: 10px 0px 0px 0px;
    }
    span>p:first-child {
        padding: 0px;
    }
    span>p:last-child {
        padding: 0px;
    }
    .to-link {
        padding: 0px;
    }
    .sub-title {
        padding: 0px;
    }    
}
@media (min-width:768px) and (max-width:991px){
    .my-name {
        padding-left: 0px;
    }
    .collapse .navbar-nav .nav-item a {
        font-size: 16px;
        padding: 10px 15px;
     }
    .row .careerobjective {
        padding: 0px 20px;
    }
    .icon-bar {
        position: absolute;
        bottom: 173px;
        width: 87%;
    }
    .d-flex p:last-child {
        padding-bottom: 50px;
    }
    .award {
        padding: 45px 0px 10px 0px;
    }
    .background-text {
        position: absolute;
        top: 35%;
        left: 0%;
    }
    .container h1 {
        font-size: 30px;
        padding: 0px;
        letter-spacing: 0px;
    }
    .website{
        padding-left: 60px;
    }
    .detail p {
        padding: 3px 0px 0px 65px;
    }
    .sub-title {
        padding: 0px;
    }
 }
@media (min-width:992px) and (max-width:1199px){
    .my-name {
        padding-left: 0px;
    }
    .collapse .navbar-nav .nav-item a {
        padding: 0px 15px;
        position: relative;
        right: 125px;
    }
    .img-fluid {
        padding-top: 23px;
    }
    .award {
        padding: 100px 0px 10px 0px;
    }
    .sub-title {
        padding: 0px;
    }
}
@media (min-width:500px) and (max-width:750px){
    .my-name {
        padding: 0px;
        margin: 0px;
    }
    .collapse .navbar-nav .nav-item a {
        padding: 10px 15px;
    }
    .sub-title {
        padding: 0px;
    }
    .container h1 {
        font-size: 30px;
        letter-spacing: 0px;
        padding: 0px;
    }
    .background-text {
        position: absolute;
        top: 30%;
        left: 0%;
    }
    .row .careerobjective {
        font-size: 16px;
        padding: 0px;
    }
    .row .prof-exposure {
        padding: 35px 0px;
        font-size: 15px;
    }
    .icon-bar {
        position: absolute;
        bottom: 175px;
        left: 13px;
        width: 84%;
        height: 54px;
    }
    .row span i {
        width: 27px;
        height: 30px;
    }
    .award {
        padding: 10px 0px;
    }
    .detail p {
        padding: 0px;
    }
    .dot h5 {
        padding: 11px 0px 0px 36px;
    }
    .details p {
        font-size: 13px;
        padding: 4px 0px 0px 70px;
    }
    span>p:first-child {
        padding: 10px 0px 5px 60px;
    }
    span>p:last-child {
        padding: 0px 0px 5px 60px;
    }
    .to-link {
        padding: 20px 60px;
    }
    .d-flex p {
        font-size: 12px;
    }
}
    