.brown{
    background-color: brown;
    padding: 40px;
}
.pink{
    background-color: rgb(193, 11, 196);
    padding: 60px;
    
}
.blue{
    background-color: rgb(28, 58, 208);
    padding: 70px;
}
.green{
    background-color: rgb(24, 208, 134);
    padding: 80px;
}