.bg-color{
    background:linear-gradient(rgb(241, 94, 219),rgb(254, 62, 68)) ;
}
span i{
    border: 1px solid blueviolet;
    border-radius: 100%;
    background-color: blueviolet;
    color: white;
    padding: 10px;
    font-size: 20px;
}
h2{
    color: white;
}
#name{
    color: rgb(8, 8, 8);
    font-size: 25px;
    font-weight: 600;
}
.signup-name{
    color: black;
    font-size: 30px;
    font-weight: 600;
}
#btn-style{
    color:black;
    background-color: aqua;
    font-weight: 600;
}
.bg-page{
    background:linear-gradient(#a42090,rgb(221, 88, 185)) ;
}
#border-head{
    border: 3px solid black;
    padding: 10px;
    color: rgb(240, 240, 59);
}
#border{
    border: 3px solid black;
    padding: 10px;
}
.bg-list{
    background:linear-gradient(rgb(83, 107, 240),rgb(243, 117, 121)) ;
}
#logout{
    border: 1px solid rgb(59, 59, 222);
    border-radius: 5px;
    font-size: 25px;
    color: white;
    font-weight: 600;
    background-color: rgb(59, 59, 222);
    padding: 5px;
}
.list-para{
    color: white;
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
}
.add-new{
    color: rgb(107, 226, 187);
    font-weight: 600;
    border:3px solid #a42090;
}
#submit-button{
    text-decoration: none;
    color: white;
}