.string{
    font-size: 20px;
    padding: 20px 0px;
}
#input{
    color: white;
    background-color: rgb(90, 85, 85);
    margin: 0px;
    font-size: 20px;
}
#output{
    color: white;
    background-color: rgb(90, 85, 85);
    font-size: 20px;
}