.container{
    background-color: blueviolet;
}
#order{
    border: 1px solid rgb(205, 172, 27);
    padding: 20px;
    margin: 10px 0px;
    width: 650px;
}
#round{
    border: 1px solid white;
    padding: 20px;
    margin: 10px 0px;
    width: 50%;
    margin-left: 325px;
    height: 250px;
    background-color: white;
}
input[value] {
   font-size: 30px;
   font-weight: 600;
   text-align: center;
}
select{
    padding: 5px 100px 5px 10px;
    margin: 20px 0px;
}
.checkbox1{
    padding: 40px 0px 0px;
    color: white;
    font-size: 20px;
}
#inscription{
   border: 1px solid white;
    width: 250px;
    margin: 5px 0px 5px 30px;
    border-radius: 2px;
    
}
#total{
    border: 1px solid rgb(7, 7, 7);
    padding: 20px;
    margin: 10px 0px;
    width: 50%;
    margin-left: 325px;
    height: 120px;
    background-color: rgb(28, 27, 27);
}
#total-head{
    color: white;
}
#total-amount{
    color: rgb(238, 203, 47);
    font-size: 30px;
    font-weight: 600;
}
#radio{
    color: blue;
    font-size: 20px;
    font-weight: 600;
    padding: 10px 0px 0px;
}
