.bg-color{
    background:linear-gradient(rgb(16, 120, 172),rgb(116, 193, 166)) ;
}
span i{
    border: 1px solid blueviolet;
    border-radius: 100%;
    background-color: blueviolet;
    color: white;
    padding: 10px;
    font-size: 20px;
}
h2{
    color: white;
}
#name{
    color: rgb(67, 240, 240);
    font-size: 25px;
}
#login1{
    width: 25%;
}
.signup-name{
    color: black;
    font-size: 30px;
    font-weight: 600;
}
#border{
    border-top:3px solid rgb(69, 69, 187);
    border-left:3px solid rgb(69, 69, 187);
    border-bottom:3px solid rgb(207, 34, 43);
    border-right:3px solid rgb(207, 34, 43);
}
#border1{
    border-top:3px solid rgb(69, 69, 187);
    border-left:3px solid rgb(69, 69, 187);
    border-bottom:3px solid rgb(207, 34, 43);
    border-right:3px solid rgb(207, 34, 43);
}
.bg{
    background: linear-gradient(rgb(105, 85, 202),rgb(123, 47, 111));
    height: 50%;
}
#welcome-img{
    height: 50%;
}
.error-message{
    color: red;
    font-size: 20px;
}
